@{
    ViewData["Title"] = "Rent Car Details";
}
<br />
<br />
<br />
<br />
<br />
<br />

<h1>Kiralama Detayları</h1>

<div>
    <p><strong>Araç:</strong> @ViewBag.CarName</p>
    <p><strong>Günlük Fiyat:</strong> @ViewBag.DailyPrice</p>
    <p><strong>Başlangıç Tarihi:</strong> @ViewBag.StartDate.ToShortDateString()</p>
    <p><strong>Bitiş Tarihi:</strong> @ViewBag.EndDate.ToShortDateString()</p>
    <p><strong>Toplam Ücret:</strong> @ViewBag.TotalPrice.ToString("C")</p> <!-- C formatıyla para birimi olarak gösterme -->
</div>


<form asp-controller="Cart" asp-action="ConfirmRent" method="post">
    <input type="hidden" name="carId" value="@ViewBag.CarId" />
    <input type="hidden" name="startDate" value="@ViewBag.StartDate" />
    <input type="hidden" name="endDate" value="@ViewBag.EndDate" />

    <label for="cardNo">Kart Numarası:</label>
    <input type="text" id="cardNo" name="cardNo" required />

    <label for="cvv">CVV:</label>
    <input type="text" id="cvv" name="cvv" required />

  

    <button type="submit">Ödeme Yap</button>
</form>

